.main {
  composes: container from "../App/App.css";
  margin-top: 160px;
  min-height: calc(100vh - 110px - 182px);
  padding: 10px 0 100px 0;
  h1 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 100px;
    margin-top: 50px;
  }
  .basket {
    display: flex;
    justify-content: flex-end;
    a {
      padding: 5px 10px;
      background-color: #c70101;
      color: #fff;
      border-radius: 5px;
      margin-left: 10px;
      text-transform: uppercase;
      &:hover {
        background-color: darken(#c70101, 5%);
      }
    }
  }
}
