.basket {
  padding: 5px 10px;
  background-color: #c70101;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 12px;
  text-transform: uppercase;
  &:hover {
    background-color: darken(#c70101, 5%);
  }
  i {
    margin: 0 5px;
  }
}
