.header {
  background-color: #ffffff;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px #152f70 solid;
  z-index: 5;

  .logoHeader {
    display: block;
    width: 30%;
    height: 110px;
    text-align: left;
    img {
      width: 250px;
      height: 110px;
    }
  }
  .oficial {
    width: 40%;
    font-size: 22px;
    line-height: 100%px;
    text-align: center;
    color: #152f70;
  }
  .phone {
    font-weight: bold;
    font-size: 18px;
    color: #152f70;
    text-decoration: none;
    display: block;
    transition-duration: 0.3s;
    &:hover {
      color: darken(#152f70, 10%);
    }
  }
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
  }
  .button {
    width: 185px;
    height: 32px;
    margin-top: 5px;
    background-color: #c70101;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    transition-duration: 0.3s;
    &:hover {
      background-color: darken(#c70101, 5%);
      cursor: pointer;
    }
  }
}

.container {
  composes: container from "../../assets/style/style.scss";
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}
