.main {
  composes: container from "../../../assets/style/style.scss";

  min-height: calc(100vh - 164px);
  padding: 190px 0 100px 0;
  background-color: inherit;
  .subheader {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    margin: 0 auto;
    width: 90%;
    max-width: 1140px;
    z-index: 5;
    a {
      padding: 5px 10px;
      width: 125px;
      background-color: #c70101;
      color: #fff;
      border-radius: 5px;
      margin-left: 10px;
      font-size: 12px;
      text-transform: uppercase;
      &:first-child {
        margin-right: auto;
        margin-left: 0;
      }
      &:hover {
        background-color: darken(#c70101, 5%);
      }
      i {
        margin-left: 5px;
      }
    }
  }
}
@media (max-width: 695px) {
  .main {
    padding-bottom: 45px;
  }
}
@media (max-width: 540px) {
  .main {
    .subheader {
      a {
        padding: 2px;
        width: 100px;
        border-radius: 5px;
        margin-left: 3px;
        font-size: 8px;
        line-height: 13px;
        text-transform: uppercase;
        i {
          margin-left: 2px;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .main {
    padding-top: 160px;
    .subheader {
      a {
        width: 75px;
        padding: 1px;
        font-size: 7px;
      }
    }
  }
}
